body {
    font-family: $font-primary, Arial, Tahoma, sans-serif;
    font-weight: 400;
    font-size: $default-font-size;
    line-height: 2.5rem;
    letter-spacing: 0;
    color: var(--color-black);
}

h1 {
    font: 800 7rem/6rem $font-primary;
    letter-spacing: inherit;
    color: var(--color-white);
    text-transform: uppercase;
    z-index: 1;
}

h3 {
    font: 400 5rem/6rem $font-secondary;
    color: var(--color-black);
    z-index: 2;
    margin-top: -2rem;
}

h2 {
    font: 800 7rem/6rem $font-primary;
    color: var(--color-primary-dark);
    text-align: center;
    margin-bottom: 3rem; //na str 1.5rem
    letter-spacing: 0;
    text-transform: uppercase;
    // margin-bottom: 1.5rem;
}

h4 {
    font-family: "Mr Dafoe";
    font-size: 4rem;
    line-height: 4rem;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--color-primary-dark);
    // margin-bottom: 1.5rem;
}

h6 {
    font-size: 1.3rem;
    font-weight: 800;
    line-height: 2.6rem;
    letter-spacing: 0;
    text-transform: uppercase; 
    color: var(--color-black);

}