.classes {
    width: 100%;
    

    &__wrapper {
        margin: 0 auto;
    }

    &__text-box {
        width: 100%;
        padding: 0 12rem;
    }

    // &__heading {

    // }
    
    // &__subheading {

    // }

    // &__paragraph {
        
    // }

    &__row {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    &__card {
        display: flex;
        flex-direction: column;
        flex: 1;
        border-radius: 1.5rem;
        border: 0.1rem solid var(--color-grey-broder);
        padding: 6rem 4rem 5.5rem;
        margin: 0 1.5rem 3rem; 
    }

    &__image {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 2rem;
    }

    &__recipient {
        font-size: 3rem;
        color: var(--color-primary-dark);
    }

    &__star-list {
        list-style: none;
        padding-left: 2rem;
        color: var(--color-grey-light-6);
    }

    &__list-item {
        margin-bottom: 2rem;
        position: relative;

        &:before {
            content: "";
            display: inline-block;
            height: 1.2rem;
            width: 1.2rem;
            margin-right: 1.5rem;
            //Older browsers
            background-image: url(/src/images/SVG/star.svg);
            background-size: cover;
        }

        &:not(:last-child):after {
            content: "";
            display: inline-block;
            left: -2rem;
            bottom: -1rem;
            width: 7rem;
            height: 0.1rem;
            overflow: hidden;
            background: rgba(0,0,0,.08);  
            position: absolute;
        }
    }

    &__testimonials {
        width: 100%;

    }

    &__review {
        margin: 0 auto;
        padding: 0 1rem 4rem;
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center;  
    }

    &__user-photo {
        
    }

    &__img {
        border-radius: 50rem;
        
    }

    &__user-review{
        background-color: rgba(0,0,0,0.02);
        padding: 3rem 4rem 1rem;
        margin: 0 6rem 2rem;

        &::after {
            content: '\201D';
            font-family: ;
    font-size: 6.5rem;
//     position: absolute;
//     left: -25px;
//     top: -10px;
    color: rgba(0,0,0,.1);

        }
    }

    &__text {
        color: var(--color-grey-light-8);
        line-height: 3rem;
        text-align: center;
        margin: 0 2.5rem 3.5rem;
    }
}

