.classes {
    width: 100%;

    &__wrapper {
        margin: 0 auto;
    }

    &__text-box {
        
        padding: 0 12rem;


    }

    &__heading {

    }
    
    &__subheading {

    }

    &__paragraph {
        
    }

}