.contact {
    width: 100%;
    padding-top: 10rem;
    padding-bottom: 6rem;




    &__wrapper {
        margin: 0 auto;
    }

    &__text-box {
        width: 100%;
        padding: 0 12rem;
        margin-bottom: 4rem;

        
                                @include respond(tab-land) { 
                    padding: 0 5rem;
    }

    }

    &__paragraph {
        text-align: center;
        margin-bottom: 1.5rem; 
        margin-right: 2rem; 
        margin-left: 2rem; 
    }

    &__form {
        width: 65%;
        margin: 0 auto;

                                    @include respond(phone) {
                                        width: 85%;
                                    }
        
    }

    &__data {
        display: flex;

                            @include respond(phone) {
                        flex-direction: column;
                        align-items: center;
                    }


    }

    &__data-card {
        height: 35rem;
        border: .1rem solid #f7efe7;
        border-radius: 1.5rem;
        flex: 1;
        flex-direction: column;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin: 0 1rem 2rem;
        padding: 6rem 2rem 4.5rem;
                                        @include respond(phone) {
                    width: 35rem;
                    }


        &--high {
            height: 38rem;

        }

    }

    &__icon {
        height: 4rem;
        width: 4rem;
        fill: var(--color-primary-dark);
        margin-bottom: 3.5rem;

    }

    &__card-name {
        text-transform: uppercase;
         margin-bottom: 3rem;

                            //        @include respond(phone) {
                            // margin-bottom: 0;
                            // text-align: center;
                            // }


    }

    &__card-detail {
        color: var(--color-grey-dark-3);
        text-align: center;
        margin-bottom: 1.5rem;
    }

    &__phone-number {


    }
}