.footer {
    width: 100%;

    &__wrapper {
        margin: 0 auto;
    }

    &__copywright {
        width: 100%;
    }

    &__copywright-text {
        text-align: center;
    }

    &__link {

    }

}