.form {
    width: 100%;
    &__group {
        margin-bottom: 1.5rem;
        position: relative;
    }

    &__inline-group {
    width: 49%;
    display: inline-block;     
    }

    &__inline-group:not(:last-child) {
    margin-right: 1rem;
    }
    // &__one-second-input {
    // //     display: none;  //delete dots like checbox on the side
    // }
    &__one-second-label {
        
        // font-size: $default-font-size;
        // cursor: pointer;
        // position: relative;
        // padding-left: 4.5rem;        
    }

    &__input, 
    &__textarea {
        font-size: 1.4rem;
        font-family: inherit;
        color: inherit;
        padding: 1rem;
        background-color: rgba(255,240,224,1);
        border: none;
        width: 100%;
        display: block;
        position: relative;
        

        &:focus {
        outline: none;
        background-color: rgba(245,226,206,1);
        border-width: 0.1rem;
        border-style: solid;
        border-color: var(--color-input-2);
        }

    }

    &__label {
        background-color: red;
        font-size: 1.2rem;
        // font-weight: 700;
        margin-left: 1rem;
        margin-top: .5rem;
        display: block;
        position: absolute;
        top: .1rem;
        left: 1rem;
        // opacity: 0;
        // visibility: hidden;
    }

    // &__input:placeholder-shown + &__label {
    //     opacity: 0;
    //     visibility: hidden;
    // }
    &__submit-btn {
        background-color: var(--color-primary-dark);
        // width: 16rem;
        padding: .8rem 3rem;
        margin: 1rem auto;
        text-transform: none;
        display: block;
        cursor: pointer;

    }

}
