.form {
    &__group {
        margin-bottom: 1rem;
        // display: flex;
        
    // &--two-field {
    //     display: flex;
    // }
        
    }

    &

    // &__one-second {
    //     width: 50%; //48%
    // }

    &__input {
        font-size: 1.4rem;
        font-family: inherit;
        color: inherit;
        padding: 1rem;
        background-color: var(--color-input-1);
        border: none;
        border-width: 0.1rem;
        border-style: solid;
        border-color: #fff0e0;
        width: 100%;
        display: block;
    }

    &__label {
        font-size: 1.2rem;
        font-weight: 700;
        margin-left: 2rem;
        margin-top: .7rem;
        display: block;

        // visibility: hidden;
    }

}