.form {
    &__group {
        margin-bottom: 1rem;
        // display: flex;
        
    &--input {
        display: flex;
    }
        
    }

    &__double {
        width: 50%;
    }

    &__input {
        font-size: 1.4rem;
        font-family: inherit;
        color: inherit;
        padding: 1rem;
        background-color: var(--color-input-1);
        border: none;
        width: 100%;
    }

    &__label {
        visibility: h;
    }

}