.gallery {
    width: 100%;
    
     &__wrapper {
        margin: 0 auto;
    }

    &__showcase {
        display: flex;
    }

    &__composition {
        display: flex;

    }

    &__composition-col1 {

    }
    &__composition-photo {
        width: 100%;
        display: block;
    }

    &__composition-col2 {

    }

    &__composition-merge-col {

    }

    &__composition-col5 {
                display: flex;

    }

    &__composition-col6 {
        
    }


   
}

/* composition__photo--p1 */