.gallery {
    margin-top: -15rem;
    width: 100%;
    
     &__wrapper {
        margin: 0 auto;
        width: 100%;
        // height: auto;
        display: flex;
        flex-flow: row nowtrap;
        justify-content: center;
        align-items: flex-start;
    }

    &__showcase {
        width: 40rem;
        height: 40rem;
        display: flex;
        justify-content: space-between;
        margin: 0 1rem;
    }

    &__composition {

        &--duo {
            display: flex;
            flex-direction: column;
            justify-content: space-between; 
            align-items: center;
        }
    }
    
    &__composition-photo {
        width: 19rem;
        height: 19rem;

        &--p1 {
            margin-top: 50%;
        }
    }

    &__img {
        height: 100%;
        width: 100%;
        display: block;
        border-radius: 1.5rem;
        object-fit: cover;
    }
    
    &__button {
        
    }
}

