.gallery {
    width: 100%;
    
     &__wrapper {
        margin: 0 auto;
        width: 80%;
        
    }

    &__showcase {
        width: 100%;
        height: auto;
        display: flex;
        flex-flow: row nowtrap;
        justify-content: center;
        align-items: flex-start;
        // padding-right: .7rem;  
    }

    &__composition {
        display: flex;
        justify-content: center;
        // padding-left: 1rem;
        margin: 0 1rem;
        
        
    }

    &__composition-col {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        flex: 1;
        margin: 0 1rem;
        // padding-left: 1rem;

    }

    &__composition-photo {
        width: 20rem;
        height: 20rem;
        // width: 100%;
        display: block;
        border-radius: 1.5rem;
        // margin-right: .6rem;
        // margin-left: .6rem;
    }
    
    // &__composition-photo--p1 {
    //     padding-bottom: .6rem;
    // }

    &__composition-photo--p2 {
        // margin-top: 1rem;
    }
    
    // &__composition-photo--p1 {
    //     // margin: 1rem;
    //     margin

    // }

    &__composition-photo--big {
        height: 40rem;
        width: 40rem;
    }
        // justify-content: space-evenly;
    }


   


/* composition__photo--p1 */