.header {
    background-color: var(--color-primary);

    &__slider {
        width: 100%;
        height: 100%;
        display: flex;
    }

    &__slider-left {
        flex: 1;
        position: relative;
    }
     
    &__text-box {
        position: absolute;
        left: 30%;
        top: 20%;
    }

    &__slider-subheading {
            font: 400 6rem/6rem $font-secondary;
    color: var(--color-black);
    z-index: 2;
    margin-top: -2rem;

    }
     
    &__btn-scroll-box {
        padding-top: 3rem;
        display: flex;
    }

    &__slider-right {
        flex:1;
        height: 100%;
        display: flex;
        position: relative;
        overflow: hidden;
    }

    &__writing {
        width: 80%;
        height: 80%;
        position: absolute;
        left: 25%;
        top: 20%;
        z-index: 1;
    }

    &__text-img {
        width: 40%;
        height: 40%;
    }
    
    &__picture {
        display: flex;

    }

    &__dancer-img {
        width: 100%;
        height: 100%;
        z-index: 1;
    }   
}


