.team {
    width: 100%;
    background-color: var(--color-blue-dark);
    padding: 10rem 0 7rem;

    &__wrapper {
        margin: 0 auto;
    }

    &__text-box {
        padding: 0 10rem;
    }
    
    &__heading {
        color: #fff;
    }

    &__subheading {
        
    }

    &__pargarph {
        
    }



}