.team {
    width: 100%;
    background-color: var(--color-blue-dark);

    &__wrapper {
        margin: 0 auto;
    }

    &__text-box {

    }
    
    &__heading {
        
    }

    &__text-box {
        
    }

    &__text-box {
        
    }



}