.workshops {
    width: 100%;
    background-color: var(--color-secondary);
    margin-top: -10vh;
    

     &__wrapper {
        margin: 0 auto;
    }

    &__heading-box {
        padding: 0 12%;
    }

    &__main-heading {
        color: var(--color-white)
    }

    

}
