.workshops {
    width: 100%;
    background-color: var(--color-secondary);
    // margin-top: -10rem;
    padding-top: 10rem;

    &__wrapper {
        margin: 0 auto;
    }

    &__heading-box {
        height: 30rem;
        width: 100%;
        padding: 0 12%;
    }

    &__main-heading {
        color: var(--color-white);
    }

    &__row-cards {
        width: 100%;
        display: flex;
    }

    &__card {
        padding: 6rem 12% 4.5rem;
        flex-direction: column;
        flex: 0 0 33.33%;
        background-color: var(--color-white);
        border-radius: 1.5rem;

    }

    

}
