.workshops {
    width: 100%;
    background-color: var(--color-secondary);
    margin
    
    

     &__wrapper {
        margin: 0 auto;
    }

    &__heading-box {
        padding: 0 12%;
        // margin-top: 30rem;
    }

    &__main-heading {
        color: var(--color-white);
        
    }

    

}
