.workshops {
    width: 100%;
    background-color: var(--color-secondary);
    // margin-
    padding-top: 10rem;

    &__wrapper {
        margin: 0 auto;
    }

    &__heading-box {
        height: 30rem;
        width: 100%;
        padding: 0 12%;
    }

    &__main-heading {
        color: var(--color-white);
    }

    &__row-cards {
        width: 100%;
        display: flex;
    }

    &__card {
        padding: 6rem 5% 4.5rem;
        flex-direction: column;
        flex: 0 0 33.33%;
        background-color: var(--color-white);
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;
    }

    &__card-top {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__date {
        margin: 0 0 1.5rem;
    }


    &__recipient {
        font: 400 3rem/3rem $font-secondary;
        color: var(--color-primary-dark);
        margin-bottom: 3rem;
    }

    &__card-description {
        text-align: center;
        margin: 0 0 2.5rem;
    }

    &__star-list {
        
        margin-bottom: 1.5rem;

        ul {
            list-style: none;
            padding-left: 2rem;


            li {
                margin-bottom: 2rem;

                    &:before {
            content: "";
            display: inline-block;
            height: 1.2rem;
            width: 1.2rem;
            margin-right: 1.5rem;

            //Older browsers
            background-image: url(/src/images/SVG/star.svg);
            background-size: cover;
    }
        &:not(:last-child):after:
        
    {
                    // border-bottom: 1px solid #eee;
                    content: "";
    width: 70px;
    height: 1px;
    overflow: hidden;
    background: rgba(0,0,0,.08);
    
  
                    
                }
            }
        }
    }

    // &__list {
    //     list-style: none;
    //     padding-left: 2rem;
    // }

    // &__item {
    //     margin-bottom: 2rem;
    // }
  
    // &__item::before {
    //     content: "";
    //     display: inline-block;
    //     height: 1.2rem;
    //     width: 1.2rem;
    //     margin-right: 1.5rem;

    //     //Older browsers
    //     background-image: url(/src/images/SVG/star.svg);
    //     background-size: cover;
    // }

}

/*  ul {
            list-style: none;
            width: 80%;
            margin: 0 auto; //center block elem inside of blok elem
    

            li {
                text-align: center;
                font-size: 1.5rem;
                padding: 1rem;

                &:not(:last-child) {
                    border-bottom: 1px solid #eee;
                }
            }

        } */