.workshops {
    width: 100%;
    background-color: var(--color-secondary);
    // margin-
    padding-top: 10rem;

    &__wrapper {
        margin: 0 auto;
    }

    &__heading-box {
        height: 30rem;
        width: 100%;
        padding: 0 12%;
    }

    &__main-heading {
        color: var(--color-white);
    }

    &__row-cards {
        width: 100%;
        display: flex;

        // align-items: center;
    }

    &__card {
        padding: 6rem 4% 4.5rem;
        flex-direction: column;
        flex: 0 0 33.33%;
        background-color: var(--color-white);
        border-radius: 1.5rem;
        display: flex;
        flex-direction: column;

        // justify-content: space-between; 
        // align-items: center;

    }

    &__card-top {
        display: flex;
        flex-direction: column;

        align-items: center;
        
    }

    &__date {
        margin: 0 0 1.5rem;
    }


    &__recipient {
        font: 400 3rem/3rem $font-secondary;
        color: var(--color-primary-dark);
        margin-bottom: 3rem;
    }

    &__card-description {
        text-align: center;

        margin: 0 0 2.5rem;
    }

    &__description {
        // text-align: center;
        // justify-content: flex-end;
        // align-self: cnter;
    }

}
