.hamburger {
    @include button-reset;
    width: 4rem;
    height: 4rem;
    background-color: red;

    &__button {
        width: 100%;
        height: .5rem;
        border-radius: 1rem;
        border-radius: green;
    }
}